window {
	background-color: white;
	color: black;
	font-family: serif;
	font-size: 9pt;
	padding: 8px;
	box-shadow: none;
	outline-style: none;
}

.title {
	font-size:   2em;
	font-weight: bold;
	margin-top:    0;
	margin-bottom: 0.67em;
}

.subtitle {
	margin-top:    calc(1em - 0.67em); /* GTK quirk */
	margin-bottom: 1em;
}
